service:
    hostname: example_{{i}}
auth:
    db:
      mysql-master:
        name: {{db.master.name}}
        hostname: {{db.master.hostname}}
        user: {{db.master.user}}
        password: {{db.master.password}}
      {% if db.slave %}
      mysql-slave:
        name: {{db.slave.name}}
        hostname: {{db.slave.hostname}}
        user: {{db.slave.user}}
        password: {{db.slave.password}}
      {% endif %}
    ingress:
      hostname: {{ingress.hostname}}
